.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.buttonformat {
  padding: 36px 48px;
  border-radius: 12px;
  background-color: rgb(245, 218, 23);
  margin-top: 25%;
}
.buttonformat:hover {
  background-color: rgb(251, 254, 101);
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 240px 240px 240px;
  justify-content: space-around;
  padding: 10px;
}

.grid-item {
  /* padding: 60px; */
  font-size: 30px;
}

.grid-item button {
  height: 70%;
  width: 70%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 300px;
    grid-template-rows: 240px 240px 240px 240px 240px 240px 240px;
  }
}
