.rightnav {
  background: #2c3e50;
  color: #fff;
  width: 220px;
  position: absolute;
  top: 190px;
  right: 0px;
}

.leftnav {
  background: #2c3e50;
  color: #fff;
  width: 220px;
  position: absolute;
  top: 190px;
  left: 0px;
}

.opencrawl {
  color: yellow;
  position: absolute;
  height: 400px;
  width: 400px;
  left: 40%;
}
