.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/* -------------------------------------------------SLIDING LEFT NAV ELEMENTS-------------------------------------------------------*/
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #b0e0e6;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: block;
  outline: medium;
}

/* -------------------------------------------------SLIDING LEFT NAV ELEMENTS-------------------------------------------------------*/

.rightnav {
  background: #2c3e50;
  color: #fff;
  width: 12%;
  height: 10%;
  text-align: center;
}

/* .leftnav {
  background: #b0e0e6;
  color: #fff;
  width: 100%;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
} */

.middle {
  width: 100%;
  justify-content: center;
}

.middle .opencrawl {
  color: yellow;
  width: 40%;
  padding-left: 30%;
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
  }

  .rightnav {
    width: 100%;
  }

  /* General sidebar styles */
}
