.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.rightnav {
  background: #2c3e50;
  color: #fff;
  width: 12%;
  height: 10%;
  text-align: center;
}

.leftnav {
  background: #2c3e50;
  color: #fff;
  width: 10%;
  height: 10%;
}

.middle {
  width: 100%;
  justify-content: center;
}

.middle .opencrawl {
  color: yellow;
  width: 40%;
  padding-left: 30%;
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
  }

  .leftnav {
    width: 100%;
  }

  .rightnav {
    width: 100%;
  }
}
